body {
  background-color: #cf4199;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagem/rodilindo.jpeg)
}
 
div {
  border: 1px solid #D1512D;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 3px solid rgb(174, 0, 255);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
	background-color: #1199d8F5C7A9;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: #B2C8DF;
	color: white;
	font-size: 36px;
}
 
.texto{
	margin: 15px;
}
